#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 400px;
    width: 100px;
    float: left;
    padding: 5px;
}
#section {
    width: 650px;
    float: left;
    padding: 10px;
}
#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    
}
body {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
