h1, h2 {
	color: rgb(164, 164, 0);
	background-color: rgb(240, 240, 240);
	text-decoration: underline;
	font-family: Century Gothic, Futura, Verdana, sans-serif;
	/*宽标题*/
	letter-spacing: 0.2em;
}
h1 {
	text-align: center;
	font-size: 22pt;
}
h2 {
	font-size: 18pt;
}
a {
	color: rgb(164, 164, 0);
}
blockquote {
	font-style: italic;
	background-color: rgb(255, 255, 200);
}
p, li {
	color: rgb(64, 64, 64);
	font-size: 11pt;
	font-family: Georgia, Garamond, serif;
}
ul {
	/*Pie bullet*/
	list-style-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif); 
}
body {
	/*设置背景*/
	background-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
	/*两个方向重复*/
	background-repeat: repeat;
	/*不随页面滚动*/
	background-attachment: fixed;
}
img {
	/*无边界图像链接*/
	border: none;
}
