extends layout

block content
    div#signup-background
        div#formArea
            fieldset
                h2 User Information

                p Username:
                    span #{user.name}

                p StudentID:
                    span #{user.id}
                    
                p Cellphone:
                    span #{user.phone}
                    
                p Email:
                    span #{user.email}

        div#foot
            a.signinToSignup(href='/signout') Log out
    link(rel='stylesheet', href='/stylesheets/detail.css')