.error {
	color:red;
	font-size: 12px;
	font-family: "Century Gothic",sans-serif;
}
.server {
	text-align: center;
	font-size: 18px;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic",sans-serif;
	background-color: #2283c9;
}
fieldset {
	border: none;
}
#formArea {
	width: 500px;
	height: 280px;
	background-color: white;
	margin: 150px auto 0px auto;
	box-shadow:5px 5px 20px rgba(10, 10, 10, 0.42);
	position: relative;
	color: #888;
}
fieldset {
	padding: 0px 25px 0px 25px;
}
h2 {
	border-bottom: 1px solid #eee;
	padding: 10px 0px 10px 0px;
	font-size: 25px;
    font-weight: 300;
}
span {
    float: right;
}
#foot {
	padding: 0px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 70px;
	background: rgba(0, 0, 0, 0.045);
	border-bottom: 1px solid #eee;
}
a {
	color: rgba(0, 0, 0, 0.25);
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	left: 3%;
	top: 39%;
	font-size: 20px;
	text-align: center;
	position: absolute;
	font-family: "Century Gothic",sans-serif;
	font-weight: bold;
}
a:hover {
	color: #2283c9;
	transition: all 0.5s ease-in-out;
}