.error{
	color:red;
	font-size: 12px;
}
.errorNotice label {
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic",sans-serif;
	background-color: #2283c9;
}
fieldset {
	border: none;
}
#formArea {
	width: 550px;
	height: 600px;
	background-color: white;
	margin: 25px auto 0px auto;
	box-shadow:5px 5px 20px rgba(10, 10, 10, 0.42);
	position: relative;
	color: #888;
}
fieldset {
	padding: 0px 25px 0px 25px;
}
h2 {
	border-bottom: 1px solid #eee;
	padding: 10px 0px 10px 0px;
	font-size: 25px;
    font-weight: 300;
}
label {
	padding-right: 70px;
}
.inputUnit {
	height: 70px;
}
input[type = "text"], input[type = "password"] {
	height: 20px;
    padding: 6px 12px;
    font-size: 14px;
	vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	float: right;
	margin-right: 30px;
}
input[type = "text"]:focus {
	border-color: #66afe9;
  	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#button {
	padding: 0px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 70px;
	background: rgba(0, 0, 0, 0.045);
	border-bottom: 1px solid #eee;
}
input[type = "submit"], input[type = "reset"] {
	top: 35%;
	text-align: center;
	position: absolute;
	width: 70px;
	height: 30px;
	font-size: 15px;
	font-family: "Century Gothic",sans-serif;
	font-weight: bold;
	box-shadow: none;
	border: none;
	outline: none;
	transition: all 0.5s ease-in-out 0.1s;
}
input[type = "submit"] {
	left: 80%;
	background-color: #2283c9;
	color: white;
}
input[type = "submit"]:hover {
	background-color: rgb(31, 114, 174);
}
input[type = "reset"] {
	left: 60%;
	background-color: white;
	color: rgba(0, 0, 0, 0.25);
}
input[type = "reset"]:hover {
	color: #2283c9;
}
input[type = "submit"]:hover, input[type = "button"]:hover {
	transform: scale(1.1, 1.1);
	transition: all 0.5s ease-in-out;
}
p {
	margin: 0px;
}