body {
	background-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/2/background.png);
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
	margin: 0px;
	padding: 0px;
}
h1 {
	text-align: center;
	font-size: 24pt;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: bold;
}
#banner {
	text-align: center;
	background-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/2/bannerbackground.png);
	height: 50px;
	background-repeat: repeat-x;
}
#content {
	overflow: hidden;
	border: 4px solid gray;
	width: 800px;
	margin: auto;
}
#main {
	width: 550px;
}
#assessment {
	position: relative;
	background-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/2/rottenbackground.png);
	background-repeat:repeat-x;
	height: 83px;
}
#Rotten {
	vertical-align: bottom;
}
#percentage {
	/*vertical-align: bottom;*/
	font-size: 48pt;
	font-weight: bold;
	color: red;
}
#number {
	/*vertical-align: bottom;*/
	font-size: 8pt;
	color: white;
}
.comment {
	clear: left;
	background-color: #E1D697;
	border: 2px solid gray;
	overflow: hidden;
	font-size: 8pt;
	font-weight: bold;
	padding: 8px;
}
.leftComment {
	margin-left: 2%;
	width: 47%;
	float: left;
}
.rightComment {
	margin-right: 2%;
	width: 47%;
	float: right;
}
#generalOverview {
	background-color: #A2B964;
	float: right;
	width: 250px;
}
#page {
	background-color: #A2B964;
	text-align: center;
	clear: right;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.icon {
	float: left;
	margin-right: 5px;
}
.author .icon {
	margin-bottom: 3em;
	margin-left: 5px;
	margin-right: 5px;
}
dl {
	margin-left: 10px;
	margin-right: 10px;
	font-family: Arial, sans-serif;
	font-size: 8pt;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1em;
}
.group {
	font-style: italic;
}
#W3Cicon {
	float: right;
	position: fixed;
	bottom: 0;
	right: 0;
}