th:hover {
	cursor: pointer;
}
.selected {
	background-color: #a3affc;
	color: white;
	text-align: left;
}
.ascend {
	background-image: url("../images/ascend.png");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.descend {
	background-image: url("../images/descend.png");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}